.mail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 1rem 1.5rem;
    border-top: 1px solid grey;
}
.mail-left,
 .mail-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.mail-left{
    gap: 1.5rem;
}

.mail-left input{
    width: 30px;
    height: 30px;
}
.mail-left img{
    width: 30px;
}

.mail-left h2{
    font-size: 1.6rem;
}
.mail-left p, .mail-right p{
    font-size: 1.3rem;
    color: grey;
}
