<div class="inbox">
    <div class="inbox-field">
        <div class="inbox-header">
            <div class="inbox-header-left">
                <input type="checkbox">
                <img src="assets/images/rotate-right-solid.svg" alt="">
                <img src="assets/images/ellipsis-vertical-solid.svg" alt="">
            </div>
            <div class="inbox-header-right">
                <img src="assets/images/chevron-left-solid.svg" alt="">
                <img src="assets/images/chevron-right-solid.svg" alt="">
            </div>

        </div>
    
        <div class="inbox-body">
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>
            <app-mail></app-mail>


        </div>
    </div>

</div>